/* For index.htlm */
/* .container {  

} */

/* Hero */
.hero {
  background-color: #2f303a;
}

.hero-content {
  max-width: 700px;
}

.hero-title {
  color: var(--primary-white-color);
  text-transform: uppercase;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.hero-link {
  color: var(--primary-white-color);
}

.button.primary {
  color: var(--primary-white-color);
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
}

/* Особенности-features */
.features .title {
  color: var(--primary-black-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.features .text {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
}

/* Чем мы занимаемся */
.what-we-do .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* Наша команда */
.team .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team .biz {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
